{% extends 'base.html' %}

{% block content %}

{% if error %}
{{error}}
<br>
<br>
{% endif %}


<h1>Rejestracja!</h1>

<form class="" action="{% url 'rejestracja' %}" method="POST">
{% csrf_token %}
Nazwa użytkownika:
<br />
<input type="text" name="username" value="">
<br/>
Hasło:
<br/>
<input type="password" name="password1" value="">
<br/>
Potwierdź hasło:
<br/>
<input type="password" name="password2" value="">
<br/>
<br/>
<input type="submit" class="btn btn=primary" value="Zarejestruj się">
</form>
{% endblock %}
